[data]
    name = "André Arko"
    email = "andre@arko.net"
    github = { username = "indirect" }

[diff]
    exclude = ["scripts"]
    format = "git"
    pager = "delta"

[edit]
    command = "mvim"
    args = ["-f", "--nomru", "-c", "au VimLeave * !open -a $TERM_APPLICATION"]
