brew "age"
brew "aws-iam-authenticator"
brew "awscli"
brew "bat"
brew "chezmoi"
brew "chruby"
brew "dust"
brew "exa"
brew "fd"
brew "ffmpeg"
brew "fortune"
brew "fzf"
brew "fzy"
brew "gh"
brew "git"
brew "git-delta"
brew "gpg"
brew "grex"
brew "htop"
brew "hub"
brew "jq"
brew "kubectl"
brew "magic-wormhole"
brew "mosh"
brew "nodenv"
brew "overmind"
brew "ponysay"
brew "postgresql", restart_service: :changed
brew "prettyping"
brew "python@3.10"
brew "reattach-to-user-namespace"
brew "redis", restart_service: :changed
brew "ripgrep"
brew "rsync"
brew "ruby-install"
brew "source-highlight"
brew "ssh-copy-id"
brew "tmux"
brew "wget"
brew "yt-dlp"
brew "zoxide"
brew "zsh-completions"

tap "eth-p/software"
brew "eth-p/software/bat-extras"

tap "heroku/brew"
brew "heroku/brew/heroku"

tap "indirect/tap"
brew "indirect/tap/bpb"
brew "indirect/tap/horse_fortunes"
brew "indirect/tap/wishfish"

tap "nodenv/nodenv"
brew "nodenv/nodenv/nodenv-package-json-engine"

tap "puma/puma"
brew "puma/puma/puma-dev"

tap "smudge/smudge"
brew "smudge/smudge/nightlight"

tap "superfly/tap"
brew "superfly/tap/flyctl"

cask "1password"
cask "1password-cli"
cask "acorn"
cask "alfred"
cask "backblaze"
cask "backuploupe"
cask "bartender"
cask "calibre"
cask "daisydisk"
cask "dash"
cask "discord"
cask "docker"
cask "dropbox"
cask "fantastical"
cask "firefox"
cask "fork"
cask "google-chrome"
cask "google-cloud-sdk"
cask "hammerspoon"
cask "handbrake"
cask "jumpshare"
cask "karabiner-elements"
cask "keyboard-maestro"
cask "kindle"
cask "kitty"
cask "launchcontrol"
cask "little-snitch"
cask "macvim"
cask "marked"
cask "menumeters"
cask "name-mangler"
cask "notion"
cask "nova"
cask "omnifocus"
cask "omnigraffle"
cask "paw"
cask "playdate-simulator"
cask "rectangle-pro"
cask "screens"
cask "sizzy"
cask "slack"
cask "soundsource"
cask "steam"
cask "superduper"
cask "suspicious-package"
cask "textmate"
cask "vimr"
cask "visual-studio-code"
cask "vlc"

cask "indirect/tap/font-menlo-nerd-font-p10k"
cask "indirect/tap/font-sf-mono-nerd-font"
cask "indirect/tap/glance", args: { no_quarantine: true }
cask "indirect/tap/kitty-icon"

tap "homebrew/cask-drivers"
cask "homebrew/cask-drivers/dymo-label"

tap "microsoft/git"
cask "microsoft/git/git-credential-manager-core"

{{- if .server }}
# Server-specific
brew "caddy"
brew "indirect/tap/cronitor"
brew "transmission-cli", restart_service: :changed

cask "handbrake"
cask "homebrew/cask-drivers/fujitsu-scansnap-home"
cask "indirect/tap/lidarr", args: { no_quarantine: true }
cask "indirect/tap/radarr", args: { no_quarantine: true }
cask "plex-media-server"
cask "sabnzbd", args: { no_quarantine: true }
cask "softraid"
cask "sonarr", args: { no_quarantine: true }
cask "transmission"
{{- end }}
