brew "age"
brew "aria2"
brew "atuin", restart_service: :changed
brew "awscli"
brew "bat"
brew "chezmoi"
brew "dnscontrol"
brew "dockutil"
brew "doggo"
brew "dust"
brew "eza"
brew "fd"
brew "ffmpeg"
brew "flyctl"
brew "fortune"
brew "fzf"
brew "fzy"
brew "gh"
brew "git-delta"
brew "git"
brew "gpg"
brew "grex"
brew "handbrake"
brew "htop"
brew "jj"
brew "jjui"
brew "jq"
brew "kubectl"
brew "macmon"
brew "mactop"
brew "magic-wormhole"
brew "mosh"
brew "nodenv"
brew "overmind"
brew "pam-reattach"
brew "pipx"
brew "ponysay"
brew "postgresql@16", restart_service: :changed
brew "prettyping"
brew "reattach-to-user-namespace"
brew "redis", restart_service: :changed
brew "ripgrep"
brew "rsync"
brew "rv"
brew "source-highlight"
brew "ssh-copy-id"
brew "tailscale"
brew "tmux"
brew "uv"
brew "wget"
brew "xcodes"
brew "xq"
brew "yt-dlp"
brew "zoxide"
brew "zsh-completions"

brew "eth-p/software/bat-extras", trusted: true
brew "heroku/brew/heroku", trusted: true
brew "indirect/tap/bpb", trusted: true
brew "indirect/tap/horse_fortunes", trusted: true
brew "indirect/tap/utilitylimb_fortunes", trusted: true
brew "indirect/tap/weird_fortunes", trusted: true
brew "indirect/tap/wishfish", trusted: true
brew "nodenv/nodenv/nodenv-package-json-engine", trusted: true
brew "puma/puma/puma-dev", trusted: true
brew "skatkov/tap/poshtui", trusted: true
brew "smudge/smudge/nightlight", trusted: true

# cask "dymo-connect"
# cask "jumpshare"
cask "1password-cli"
cask "1password"
cask "acorn"
cask "alfred"
cask "avifquicklook"
cask "backblaze"
cask "backuploupe"
cask "calibre"
cask "daisydisk"
cask "dash"
cask "discord"
cask "fantastical"
cask "figma"
cask "firefox"
cask "font-monaspace"
cask "font-new-york"
cask "font-sf-compact"
cask "font-sf-mono"
cask "font-sf-pro"
cask "fork"
cask "ghostty"
cask "google-chrome"
cask "hammerspoon"
cask "handbrake-app"
cask "iina"
cask "karabiner-elements"
cask "keyboard-maestro"
cask "launchcontrol"
cask "little-snitch"
cask "macvim-app"
cask "macwhisper"
cask "maestral"
cask "marked-app"
cask "mountain-duck"
cask "name-mangler"
cask "notion"
cask "nova"
cask "omnifocus"
cask "omnigraffle"
cask "orbstack"
cask "playdate-simulator"
cask "qladdict"
cask "qlcolorcode"
cask "qlprettypatch"
cask "qlzipinfo"
cask "quicklook-csv"
cask "quicklook-video"
cask "quicknfo"
cask "raindropio"
cask "rapidapi"
cask "rectangle-pro"
cask "retcon"
cask "secretive"
cask "slack"
cask "stats"
cask "steam"
cask "superduper"
cask "suspicious-package"
cask "tailscale-app"
cask "textmate"
cask "thaw"
cask "virtualbuddy"
cask "visual-studio-code"
cask "webpquicklook"
cask "zed"
cask "zoom"

cask "indirect/tap/font-menlo-nerd-font", trusted: true
cask "indirect/tap/font-sf-mono-nerd-font", trusted: true
cask "indirect/tap/glance", trusted: true

{{- if .server }}
# Server-specific
brew "caddy"
brew "indirect/tap/cronitor", trusted: true
brew "transmission-cli", restart_service: :changed

cask "fujitsu-scansnap-home"
cask "indirect/tap/lidarr", trusted: true
cask "indirect/tap/radarr", trusted: true
cask "plex-media-server"
cask "sabnzbd"
cask "softraid"
cask "sonarr"
{{- end }}
