#!/bin/bash
set -euo pipefail
# set -xv

echo "Logging in to atuin.sh..."

if [[ "$(atuin status)" == "You are not logged in"* ]]; then
  atuin login \
    -u "$(op read 'op://Private/Atuin.sh/username')" \
    -p "$(op read 'op://Private/Atuin.sh/password')" \
    -k "$(op read 'op://Private/Atuin.sh/key')"
else
  echo "Already logged in"
fi
