#!/bin/bash
set -euo pipefail
set -vx

cp {{ .chezmoi.sourceDir }}/support/Preferences/* ~/Library/Preferences/
cp -r {{ .chezmoi.sourceDir }}/support/var/* /opt/homebrew/var/

pushd {{ .chezmoi.sourceDir }}/support/defaults
defaults import eu.exelban.Stats - < eu.exelban.Stats.xml
popd
