#!/bin/bash
set -euo pipefail
set -vx

chezmoi decrypt {{ .chezmoi.sourceDir }}/support/config/fastmail/filecabin.mobileconfig.age -o /tmp/filecabin.mobileconfig
open /tmp/filecabin.mobileconfig
open /System/Library/PreferencePanes/Profiles.prefPane
rm /tmp/filecabin.mobileconfig
