#!/bin/bash
set -euo pipefail
set -vx

which dockutil || brew install indirect/tap/dockutil

dockutil --no-restart --remove all
dockutil --no-restart --add /System/Applications/System\ Settings.app
dockutil --no-restart --add /Applications/Safari.app
dockutil --no-restart --add /System/Applications/Messages.app
dockutil --no-restart --add /System/Applications/Mail.app
dockutil --no-restart --add /Applications/Slack.app
dockutil --no-restart --add /System/Applications/Music.app
dockutil --no-restart --add /Applications/Fantastical.app
dockutil --no-restart --add /System/Library/CoreServices/Applications/Feedback\ Assistant.app

{{ if .server -}}
# Server dock items
dockutil --no-restart --add /Applications/Photos.app
dockutil --no-restart --add /Applications/Transmission.app
dockutil --no-restart --add /Applications/Name\ Mangler.app
dockutil --no-restart --add /Applications/Utilities/Activity\ Monitor.app
dockutil --no-restart --add /Applications/Plex\ Media\ Server.app
{{- end }}

dockutil --add ~/Library/Mobile\ Documents/com\~apple\~CloudDocs/Downloads --view fan --display stack
