Include ~/.orbstack/ssh/config

Host *
  ForwardX11 no
  IdentityAgent ~/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh

Host gnk
  ForwardAgent yes

Host corsairone
  User corsairone\andre
  ForwardAgent yes

# Home
Host home
  Port 2222
  Hostname  home.arko.me
  User andre
  RequestTTY force
  RemoteCommand ~/.bin/tmux-named main

# Home plus VNC and SMB forwarded to localhost
Host homefwd
  Port 2222
  Hostname  home.arko.me
  User andre
  # Screen sharing / VNC
  LocalForward  5901 localhost:5900
  # SMB on localhost:4455
  LocalForward  4455 localhost:445
  # Get a TTY for tmux
  RequestTTY force
  # Join the main tmux session
  RemoteCommand ~/.bin/tmux-named main

# AWS
Host *.compute-1.amazonaws.com
  StrictHostKeyChecking no

Host github.com
  Hostname ssh.github.com
  Port 443

Host localhost.run
  User plan
  IdentityFile ~/.ssh/id_ed25519
