# created: 2022-06-04T15:32:53-07:00
# public key: age1jhkpvp9npqpcjztzae0f64njnesuw2nvgxzpsajge524mgzz45mqqqcyac
{{ (onepasswordDetailsFields "e4bbfqrbws7nk6ijrweoqdsc3i" "trcgvxforkhw7mchbli62gfeze" "LTHHRYFHQBE7NII6FHFLYEGMDY").password.value }}
