<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.samschott.maestral.maestral</string>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>RunAtLoad</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Maestral.app/Contents/MacOS/Maestral</string>
		<string>--config-name</string>
		<string>maestral</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PYTHONOPTIMIZE</key>
		<string>2</string>
		<key>LC_CTYPE</key>
		<string>UTF-8</string>
	</dict>
	<key>AssociatedBundleIdentifiers</key>
	<string>com.samschott.maestral</string>
</dict>
</plist>
