{{- if .server -}}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>net.arko.bazarr</string>
	<key>ProgramArguments</key>
	<array>
		<string>{{ .brew.prefix }}/bin/uv</string>
		<string>run</string>
		<string>--with</string>
		<string>lxml,numpy,webrtcvad-wheels,Pillow,setuptools,signalr-client</string>
		<string>--python</string>
		<string>3.10</string>
		<string>bazarr.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>{{ .brew.prefix }}/var/log/bazarr.log</string>
	<key>StandardOutPath</key>
	<string>{{ .brew.prefix }}/var/log/bazarr.log</string>
	<key>WorkingDirectory</key>
	<string>{{ .chezmoi.homeDir }}/src/server/bazarr</string>
</dict>
</plist>
{{- end }}
