{{- if .server -}}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.arko.jackett</string>
	<key>WorkingDirectory</key>
	<string>{{ .chezmoi.homeDir }}/src/server/jackett</string>
	<key>ProgramArguments</key>
	<array>
		<string>{{ .chezmoi.homeDir }}/src/server/jackett/jackett --NoRestart</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>{{ .brew.prefix }}/var/log/jackett.log</string>
	<key>StandardOutPath</key>
	<string>{{ .brew.prefix }}/var/log/jackett.log</string>
</dict>
</plist>
{{- end }}
