{{- if .server -}}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Apple/usr/bin</string>
	</dict>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>net.arko.update-factorio</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/uv</string>
		<string>run</string>
		<string>--with</string>
		<string>requests</string>
		<string>/Users/andre/.bin/update_factorio.py</string>
		<string>--verbose</string>
		<string>--apply-to</string>
		<string>/Users/andre/Library/Application Support/Steam/steamapps/common/Factorio/factorio.app/Contents/MacOS/factorio</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/opt/homebrew/var/log/update-factorio.log</string>
	<key>StandardOutPath</key>
	<string>/opt/homebrew/var/log/update-factorio.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>6</integer>
		<key>Minute</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
{{- end -}}
