{{- if .server -}}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>{{ .brew.prefix }}/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Apple/usr/bin</string>
	</dict>
	<key>Label</key>
	<string>net.arko.mister-rogers</string>
	<key>WorkingDirectory</key>
	<string>/Volumes/Downloads/Mister Rogers Neighborhood</string>
	<key>ProgramArguments</key>
	<array>
		<string>bash</string>
		<string>-c</string>
		<string>which cronitor &amp;&amp; which yt-dlp &amp;&amp; cronitor exec 0xLpu9 -- yt-dlp https://www.misterrogers.org/watch/</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>{{ .brew.prefix }}/var/log/net.arko.mister-rogers.log</string>
	<key>StandardOutPath</key>
	<string>{{ .brew.prefix }}/var/log/net.arko.mister-rogers.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>1</integer>
			<key>Minute</key>
			<integer>14</integer>
			<key>Weekday</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
{{- end }}
