{{- if .server -}}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.arko.certbot-renew</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>{{ .brew.prefix }}/bin:{{ .chezmoi.homeDir }}/.bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Apple/usr/bin</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>bash</string>
		<string>-c</string>
		<string>certbot renew --nginx --nginx-ctl {{ .brew.prefix }}/bin/nginx --work-dir {{ .brew.prefix }}/var/lib/letsencrypt --logs-dir {{ .brew.prefix }}/var/log/letsencrypt --config-dir {{ .brew.prefix }}/etc/letsencrypt</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>{{ .brew.prefix }}/var/log/certbot.log</string>
	<key>StandardOutPath</key>
	<string>{{ .brew.prefix }}/var/log/certbot.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>1</integer>
			<key>Minute</key>
			<integer>43</integer>
		</dict>
	</array>
</dict>
</plist>
{{- end }}
