{{- if .server -}}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.arko.restart-plex</string>
	<key>ProgramArguments</key>
	<array>
		<string>launchctl</string>
		<string>kill</string>
		<string>KILL</string>
		<string>gui/{{ .chezmoi.uid }}/net.arko.plex</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>5</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
	</array>
</dict>
</plist>
{{- end }}
