<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.arko.restart-radarr</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>-c</string>
		<string>curl --fail --max-time 2 gnk/movies/ || (ps aux | grep Radarr.app | grep -v grep | awk '{print $2}' | xargs kill -9)</string>
	</array>
	<key>StartInterval</key>
	<integer>300</integer>
</dict>
</plist>
