{{- if .server -}}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>{{ .brew.prefix }}/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Apple/usr/bin</string>
	</dict>
	<key>Label</key>
	<string>net.arko.mister-rogers</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/fdautil</string>
		<string>exec</string>
		<string>/bin/bash</string>
		<string>-c</string>
		<string>cronitor exec 0xLpu9 -- yt-dlp 'https://www.misterrogers.org/watch/'</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>{{ .brew.prefix }}/var/log/net.arko.mister-rogers.log</string>
	<key>StandardOutPath</key>
	<string>{{ .brew.prefix }}/var/log/net.arko.mister-rogers.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Day</key>
			<integer>1</integer>
			<key>Hour</key>
			<integer>1</integer>
			<key>Minute</key>
			<integer>14</integer>
			<key>Weekday</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Day</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>1</integer>
			<key>Minute</key>
			<integer>14</integer>
			<key>Weekday</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Day</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>1</integer>
			<key>Minute</key>
			<integer>14</integer>
			<key>Weekday</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Day</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>1</integer>
			<key>Minute</key>
			<integer>14</integer>
			<key>Weekday</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Day</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>1</integer>
			<key>Minute</key>
			<integer>14</integer>
			<key>Weekday</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Day</key>
			<integer>6</integer>
			<key>Hour</key>
			<integer>1</integer>
			<key>Minute</key>
			<integer>14</integer>
			<key>Weekday</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Day</key>
			<integer>7</integer>
			<key>Hour</key>
			<integer>1</integer>
			<key>Minute</key>
			<integer>14</integer>
			<key>Weekday</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Day</key>
			<integer>15</integer>
			<key>Hour</key>
			<integer>1</integer>
			<key>Minute</key>
			<integer>14</integer>
			<key>Weekday</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Day</key>
			<integer>16</integer>
			<key>Hour</key>
			<integer>1</integer>
			<key>Minute</key>
			<integer>14</integer>
			<key>Weekday</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Day</key>
			<integer>17</integer>
			<key>Hour</key>
			<integer>1</integer>
			<key>Minute</key>
			<integer>14</integer>
			<key>Weekday</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Day</key>
			<integer>18</integer>
			<key>Hour</key>
			<integer>1</integer>
			<key>Minute</key>
			<integer>14</integer>
			<key>Weekday</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Day</key>
			<integer>19</integer>
			<key>Hour</key>
			<integer>1</integer>
			<key>Minute</key>
			<integer>14</integer>
			<key>Weekday</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Day</key>
			<integer>20</integer>
			<key>Hour</key>
			<integer>1</integer>
			<key>Minute</key>
			<integer>14</integer>
			<key>Weekday</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Day</key>
			<integer>21</integer>
			<key>Hour</key>
			<integer>1</integer>
			<key>Minute</key>
			<integer>14</integer>
			<key>Weekday</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Day</key>
			<integer>22</integer>
			<key>Hour</key>
			<integer>1</integer>
			<key>Minute</key>
			<integer>14</integer>
			<key>Weekday</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>/Volumes/Media/Video/New/TV Shows/Mister Rogers Neighborhood</string>
</dict>
</plist>
{{- end }}
