{{- if .server -}}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.arko.radarr</string>
	<key>Program</key>
	<string>/Applications/Radarr.app/Contents/MacOS/Radarr</string>
	<key>WorkingDirectory</key>
	<string>/Applications/Radarr.app/Contents/MacOS</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>{{ .brew.prefix }}/var/log/radarr.log</string>
	<key>StandardOutPath</key>
	<string>{{ .brew.prefix }}/var/log/radarr.log</string>
</dict>
</plist>
{{- end }}
