{{ if .server -}}
__preset__:
  overrides:
    tv_show_directory: "/Volumes/Media/Video/Other Shows"
    music_directory: "/Volumes/Media/Video/Music Videos"
    episode_title: "{title_sanitized}"
    chunk_max_downloads: 1
  subtitles:
    subtitles_type: "srt"
    embed_subtitles: False
    languages:
      - "en"
    allow_auto_generated_subtitles: False
  throttle_protection:
    sleep_per_download_s:
      min: 2.2
      max: 17.8
    sleep_per_subscription_s:
      min: 9.4
      max: 27.1
  ytdl_options:
    sleep_interval_requests: 1

Plex TV Show by Date | Best Video Quality | Chunk Downloads:
  overrides:
    ytdl_options:
      cookiesfrombrowser: ["safari"]
  = Media:
    "CinemaStix nebula": "https://nebula.tv/cinemastix"
    "Thomas Flight nebula": "https://nebula.tv/thomasflight"
    "Jenny Nicholson patreon": "https://www.patreon.com/c/JennyNicholson/posts"
    "hbomberguy patreon": "https://www.patreon.com/c/hbomb/posts"

Plex TV Show by Date | Best Video Quality:
  = Comedy:
    "Krazam": "https://www.youtube.com/@KRAZAM/videos"
    "Tom Cardy": "https://www.youtube.com/@tomcardy1/videos"
    "Bobby Fingers": "https://www.youtube.com/@bobbyfingers/videos"
    "Brian David Gilbert": "https://www.youtube.com/@briandavidgilbert/videos"
  = Documentary:
    "USCSB": "https://www.youtube.com/@USCSB/videos"
  = Video Games:
    "Summoning Salt": "https://www.youtube.com/@SummoningSalt/videos"
  = Media:
    "CinemaStix": "https://www.youtube.com/@CinemaStix/videos"
    "Jenny Nicholson": "https://www.youtube.com/@JennyNicholson/videos"
    "hbomberguy": "https://www.youtube.com/@hbomberguy/videos"
{{- end }}
