{{ if .server -}}
__preset__:
  overrides:
    tv_show_directory: "/Volumes/Media/Video/Other Shows"
    music_directory: "/Volumes/Media/Video/Music Videos"
    episode_title: "{title_sanitized}"
    chunk_max_downloads: 4
  subtitles:
    embed_subtitles: True
    languages:
      - "en"
      - "ja"
  ytdl_options:
    sleep_interval_requests: 1.0
    break_on_existing: True

Plex TV Show by Date | Best Video Quality | Chunk Downloads:
  overrides:
    ytdl_options:
      cookiesfrombrowser: ["safari"]
  = Media:
    "CinemaStix nebula": "https://nebula.tv/cinemastix"
    "Thomas Flight nebula": "https://nebula.tv/thomasflight"
    "Jenny Nicholson patreon": "https://www.patreon.com/c/JennyNicholson/posts"
    "hbomberguy patreon": "https://www.patreon.com/c/hbomb/posts"
    "Sarah Z": "https://www.youtube.com/@SarahZ/videos"

Plex TV Show by Date | Best Video Quality:
  = Anime:
    "PUNCH PUNCH FOREVER!": "https://www.youtube.com/playlist?list=PLsE71Ou1VsHRPMVCCC9Qf9nqQIwgb4wfb"
    "MILKY☆SUBWAY": "https://www.youtube.com/playlist?list=PLc63ZeZBeagTL_O0F2vCUCkmzDOusD6Aq"
  = Comedy:
    "Krazam": "https://www.youtube.com/@KRAZAM/videos"
    "Tom Cardy": "https://www.youtube.com/@tomcardy1/videos"
    "Bobby Fingers": "https://www.youtube.com/@bobbyfingers/videos"
    "Brian David Gilbert": "https://www.youtube.com/@briandavidgilbert/videos"
  = Documentary:
    "USCSB": "https://www.youtube.com/@USCSB/videos"
  = Video Games:
    "Summoning Salt": "https://www.youtube.com/@SummoningSalt/videos"
  = Media:
    "CinemaStix": "https://www.youtube.com/@CinemaStix/videos"
    "Jenny Nicholson": "https://www.youtube.com/@JennyNicholson/videos"
    "hbomberguy": "https://www.youtube.com/@hbomberguy/videos"
{{- end }}
