{{ if .server -}}
gnk.shark-crocodile.ts.net, gnk.arko.net.beta.tailscale.net:80, 100.127.239.51:80, gnk.local:80, gnk:80 {
	# Overseerr
	reverse_proxy 127.0.0.1:5055

	# Admin services that aren't shared
	@auth {
		path /tv*
		path /movies*
		path /subtitles*
		path /music*
		path /activity*
		path /transmission*
		path /jackett*
	}

	forward_auth @auth unix//opt/homebrew/var/run/tailscale.nginx-auth.sock {
		uri /auth
		header_up Remote-Addr {remote_host}
		header_up Remote-Port {remote_port}
		header_up Original-URI {uri}
		header_up Expected-Tailnet "arko.net"
		copy_headers Tailscale-User Tailscale-Name Tailscale-Login Tailscale-Tailnet Tailscale-Profile-Picture
	}

	# Sonarr
	redir /tv /tv/ 308
	reverse_proxy /tv/* 127.0.0.1:8989

	# Radarr
	redir /movies /movies/ 308
	reverse_proxy /movies/* 127.0.0.1:7878

	# Bazarr
	redir /subs /subtitles/ 308
	redir /subtitles /subtitles/ 308
	reverse_proxy /subtitles/* 127.0.0.1:6767

	# Lidarr
	redir /music /music/ 308
	reverse_proxy /music/* 127.0.0.1:8686

	# Tautulli
	redir /activity /activity/ 308
	reverse_proxy /activity/* 127.0.0.1:8181

	# Transmission
	redir /transmission /transmission/ 308
	reverse_proxy /transmission/* 127.0.0.1:9091

	# Jackett
	redir /jackett /jackett/ 308
	reverse_proxy /jackett/* 127.0.0.1:9117

	log {
		output file /opt/homebrew/var/log/caddy/access.log
	}
}
{{- end }}
