{{ if .server -}}
{
	debug
}

*.test {
	tls internal {
		on_demand
	}
	# puma-dev
	reverse_proxy https://127.0.0.1:9283 {
		transport http {
			tls_insecure_skip_verify
		}
	}
	log
}

home.arko.me {
	redir https://media.arko.me{uri}
}

media.arko.me, mse-65.shark-crocodile.ts.net, mse-6:80, mse-6.local:80, 127.0.0.1:80, localhost:80 {
	# Overseerr
	reverse_proxy 127.0.0.1:5055

	# Hosts with public access need to authenticate admin services
	@admin {
		host media.arko.me # public internet
		host mse-6.shark-crocodile.ts.net # shared on tailscale
		path /tv*
		path /movies*
		path /subtitles*
		path /music*
		path /activity*
		path /transmission*
		path /sabnzbd*
		path /jackett*
	}

	# Auth admin services with Tailscale, only allow personal Tailnet
	forward_auth @admin unix//opt/homebrew/var/run/tailscale.nginx-auth.sock {
		uri /auth
		header_up Remote-Addr {remote_host}
		header_up Remote-Port {remote_port}
		header_up Original-URI {uri}
		header_up Expected-Tailnet "arko.net"
		copy_headers Tailscale-User Tailscale-Name Tailscale-Login Tailscale-Tailnet Tailscale-Profile-Picture
	}

	@files {
		host mse-6.shark-crocodile.ts.net # shared on tailscale
		path /files*
	}

	handle @files {
		handle_path /files/* {
			root * /Volumes/Media/Video
			file_server browse {
				hide .DS_Store .grab /New /Other /Recycled
			}
		}
	}


	# Sonarr
	redir /tv /tv/ 308
	reverse_proxy /tv/* 127.0.0.1:8989

	# Radarr
	redir /movies /movies/ 308
	reverse_proxy /movies/* 127.0.0.1:7878

	# Bazarr
	redir /subs /subtitles/ 308
	redir /subtitles /subtitles/ 308
	reverse_proxy /subtitles/* 127.0.0.1:6767

	# Lidarr
	redir /music /music/ 308
	reverse_proxy /music/* 127.0.0.1:8686

	# Tautulli
	redir /activity /activity/ 308
	reverse_proxy /activity/* 127.0.0.1:8181

	# Sabnzbd
	redir /sabnzbd /sabnzbd/ 308
	reverse_proxy /sabnzbd/* 127.0.0.1:8080

	# Transmission
	redir /transmission /transmission/web/ 308
	redir /transmission/web /transmission/web/ 308
	reverse_proxy /transmission/* 127.0.0.1:9091

	# Jackett
	redir /jackett /jackett/ 308
	reverse_proxy /jackett/* 127.0.0.1:9117

	log
}
{{- end }}
